.mini-cart__slider.gift_slider {
    max-width: 100%;
    width: 100%;
    margin: 30px 0;
}

.gift_slider .title {
    font-size: 32px;
    margin-bottom: 10px;
}

.gift_slider .mini-cart-gift {
    display: flex !important;
    position: relative !important;
}

.mini-cart-gift .owl-stage {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: row;
    min-width: 1px;
}

.mini-cart-gift .owl-stage-outer {
    margin: -15px -10px ;
    padding: 15px 10px;
}


.mini-cart-gift .owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    z-index: 2;
    width: calc(100% + 80px);
}

.mini-cart-gift .owl-nav .owl-prev span {
    display: inline-block !important;
    background: url(./img/prev_arrow.svg) center no-repeat, #4B6D74 !important;
    background-size: 70% !important;
    cursor: pointer !important;
    border: none !important;
    width: 35px !important;
    height: 35px !important;
    color: transparent !important;
    border-radius: 50% !important;
    transition: all 0.3s ease !important;    
}

.mini-cart-gift .owl-next span {
    display: inline-block !important;
    background: url(./img/next_arrow.svg) center no-repeat, #4B6D74 !important;
    background-size: 70% !important;
    cursor: pointer !important;
    border: none !important;
    width: 35px !important;
    height: 35px !important;
    color: transparent !important;
    border-radius: 50% !important;
    transition: all 0.3s ease !important;
}


.gift_slider .owl-carousel .item {
    height: auto !important;
    box-shadow: 5px 4px 18px 0 #0000000d;
    max-width: 170px;
}

.gift_slider .product_element {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}

.gift_slider .product_element .product__card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 130px;
    border-bottom: 1px solid rgba(33, 50, 53, 0.2);
    padding: 10px;
    box-sizing: border-box;
}

.gift_slider .product_element .product__card__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gift_slider .product_element .product__card__info {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px 10px 15px;
    text-align: center;
}

.gift_slider .product_element .product__card__info__content {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}

.gift_slider .product_element .product__card__info__name {
    font-weight: 600;
    font-size: 10px;
    line-height: 14.54px;
    letter-spacing: 0.45px;
    height: 45px;
    min-height: 45px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.gift_price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 23.26px;
    text-align: center;
}

.gift_price .old-price {
    font-size: 10px;
    line-height: 14.54px;
    text-decoration: line-through;
}

.gift_buy {
    cursor: pointer;
    padding: 7px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3px;
    white-space: nowrap;
    border-radius: 10px;
    border: 1px solid #4B6D74;
    color: #4B6D74;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.3s ease;
}

.gift-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 14px;
    margin-bottom: 10px;
}

.gift-info-lim {
    color: #4B6D74;
}

.gift-info-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.96px;
    color: #4B6D74;
    border: 1px solid #4B6D74
}

.gift-info-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gift-info svg path {
    fill: #4B6D74;
}

@media (max-width: 768px) {

    .mini-cart__slider.gift_slider {
        margin: 15px 0;
    }

    .gift_slider .title {
        font-size: 14px;
        line-height: 21.94px;
        color: #213235;
        margin-bottom: 10px;
    }

    .gift-info-item {
        padding: 5px;
        font-size: 14px;
        line-height: 20.36px;
    }
}

