.block_set_product{
    padding: 15px; 
    margin: 10px 0; 
    background: var(--btn); 
    border-radius: 20px;
    box-shadow: 0 0 15px 0 #b3b3b3;
}

.title_set{
    color: #fff;
    margin: 10px 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
}

.block_set_list {
    display: grid;
    grid-template-areas: 
    'prod_one prod_two prod_three'
    'total total total';
    gap: 10px;
}

@media (max-width: 768px) {
    .block_set_list{
        display: grid;
        grid-template-areas:
                'prod_one '
                'prod_two'
                'prod_three'
                'total';
        gap: 10px;
    }
}

.block_set_product  .owl-nav .owl-next span,
.block_set_product  .owl-nav .owl-prev span {
    border: solid 1px #fff;
}

.set_item_one {
    grid-area: prod_one;
}

.set_item_two {
    grid-area: prod_two;
}

.set_item_three {
    grid-area: prod_three;
}

.total {
    grid-area: total;
}

.set_item{
    height: 100%;
    padding: 5px;
    background: #fff;
    box-shadow: 0 0 10px #fff;
    display: grid;
    gap: 5px;
    border-radius: 10px;
}

.set_item img{
    height: 150px;
    object-fit: contain;
    margin: auto;
}

.set_title{
    font-size: 15px;
    line-height: normal;
    text-align: center;
}

.set_price{
    font-size: 18px;
    text-align: center;
}

.set_price_block{
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
    color: #ffff;
    font-size: 24px;
}

.total_set{
    text-decoration: line-through;
}

.add_set{
    margin: 20px auto;
    display: flex;
    padding: 10px 19px;
    background: transparent;
    border: solid 2px #fff;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 0 15px #fff;
    text-transform: uppercase;
    animation: animation_set_btn 2s infinite linear;
    transform: scale(1);
    transition: transform .2s linear;
}

.add_set:hover{
    transform: scale(1.2);
    transition: transform .2s linear;
}

img.set_img {
    height: 150px!important;
}


@keyframes animation_set_btn {
    0% {
        box-shadow: 0 0 15px #fff;
        border: solid 2px #fff;
    }

    50% {
        box-shadow: 0 0 15px var(--accent);
        border: solid 2px var(--accent);
    }

    100% {
        box-shadow: 0 0 15px #fff;
        border: solid 2px #fff;
    }
}


@media screen and (max-width: 900px) {
    .block_set_product{
        width: 95%;
        margin: auto;
    }
}